<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <queries>
    <package android:name="app.revanced.android.youtube"/>
    <package android:name="com.google.android.youtube"/>
    <intent><action android:name="android.intent.action.VIEW"/></intent>
    <intent><action android:name="android.intent.action.SEARCH"/></intent>
</queries>
  <application
    android:name=".SecondMindApp"
    android:label="SecondMind Compose"
    android:theme="@style/AppTheme">
    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity><activity
      android:name=".access.AccessibilitySettingsActivity"
      android:exported="false"
      android:label="@string/accessibility_service_label"/>
      <service
      android:name=".MyAccessibilityService"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
      android:exported="true"
      android:label="@string/accessibility_service_label">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService"/>
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/accessibility_service_config"/>
    </service>
    <service
        android:name=".notify.SecondMindNotificationListener"
        android:exported="true"
        android:label="SecondMind"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
        <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
    </service>
    <activity android:name="com.secondmind.minimal.feature.news.NewsActivity" android:exported="false" />
    </application>
</manifest>

